input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

[type="number"] {
  border: 2px solid black;
}
select.patternName {
  border: 2px solid black;
}
pre {
  font-size: 26px;
  line-height: 15px;
}

pre {
  display: inline-block;
  max-width: 20px;
}
